
<div class="modal-header border-0 m-2 mb-0">
  <h4 class="modal-title font-weight-normal pull-left" [translate]="'Registrations.SelectSpecialtyTitle'"></h4>
  <button type="button" class="close pull-right" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body ml-2 mr-2 pt-0">
  <p class="mb-4" [translate]="'Registrations.SpecialtySelectionMessage'"></p>
  <div *ngIf="!isLoading">
    <div class="custom-control custom-radio mt-2 mb-3" *ngFor="let specialty of specialties; let i = index">
      <input  [(ngModel)]="selectedSpecialty" class="custom-control-input" type="radio" id="specialty{{i}}" name="specialty" [value]="specialty.id" [disabled]="currentSpecialty.id === specialty.id">
      <label [ngClass]="{ 'text-gray-300':  currentSpecialty.id === specialty.id, 'text-dark': currentSpecialty.id !== specialty.id  }" class="pl-2 custom-control-label font-weight-normal font-lg" for="specialty{{i}}">{{specialty.name}}</label>
    </div>
  </div>
  <div *ngIf="isLoading">
    <div class="ph-col-12">
      <div class="ph-row">
        <div class="ph-col-6 big"></div>
      </div>
      <div class="ph-row">
        <div class="ph-col-4 big"></div>
      </div>
      <div class="ph-row">
        <div class="ph-col-8 big"></div>
      </div>
    </div>
  </div>
  <div *ngIf="lastError">
    <p class="text-danger" [translate]="'E' + (lastError.status || 500) + '.message'"></p>
  </div>

  <div *ngIf="validationResults">
    <div *ngFor="let res of validationResults">
      <div *ngIf="res.code == 'FAIL'">
        <p class="text-danger">{{res.message}}</p>
      </div>
    </div>
  </div>

</div>
<div class="modal-footer border-0 m-2 mt-0">
  <button type="button" class="btn btn-success px-5 py-2" (click)="selectSpecialty()" [disabled]="selectedSpecialty == null || disabled" [translate]="'Registrations.Register'"></button>
</div>
